ROBOT_CAM_SOURCE=<your_robot_camera_source> # e.g. rtsp://<username>:<password>@<ip_address>:<port>/<path>
GESTURE_CAM_SOURCE=<your_gesture_camera_source> # e.g. 0 for the default webcam

OLLAMA_API_KEY=<your_ollama_api_key>